
body {
    margin-left: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

input[type=text].console {
    border: none;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;    
    font-weight: 700;
    width: calc(100% - 50px);
}

#console-pre {
    border: none;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;    
    font-weight: 700;
}