
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Noto Serif', serif;
    line-height: 1.5;
}

.page {
    position: absolute;
    width: 100%;
    display:flex;
}

.pop-line {

    position: absolute;
    height: 0.5%;
    min-width: 100%;
    background: linear-gradient(to right, red,orange);
    
    top: 0;

}

.intro {
    top: 0;
    background: url("images/bg-cropped.png") no-repeat center center fixed;
    height: 100%;
    background-size: cover;
    justify-content:center;
    align-items:center;
}

.intro .title-intro {
    text-align: center;
    transition: 0.75s;
}

.intro .title-intro h1 {

    position: relative;

    font-family: 'Noto Serif', serif;
    font-weight: bold;
    background-color: #FFFD98;
    color: black;
    padding: 10px 20px 10px 20px;

    animation: name-animation 0.75s;
    animation-fill-mode: forwards;

    z-index: 99;

}

.intro .title-intro h2 {

    position: relative;

    margin-top: -3.5em;
    padding: 10px 20px 10px 20px;
    background-color: #23395B;
    transform: rotate(0deg);
    color: white;

    animation: msg-animation 0.75s;
    animation-fill-mode: forwards;

    z-index: 0;
}

@keyframes name-animation {
    100% {transform: rotate(8deg)}
}

@keyframes msg-animation {
    100% {transform: rotate(-4deg); margin-top: 1.5em}
}

.go-down {

    position: absolute;
    bottom: 5%;

    cursor: pointer;
    
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 1.2;
    color: white;

    font-family: monospace;

}

.go-down .material-icons {

    animation: updown 1s infinite;
}

@keyframes updown {

    0% {transform: translateY(0%)}
    50% {transform: translateY(50%);}
    100% {transform: translateY(0%);}

}

.portfolio {

    top: 100vh;
    height: auto;
    max-height: 500vh;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.portfolio-card {

    margin: 5vh 5vw 5vh 5vw; 

    z-index: 30;

    flex-grow: 1;
    
    background-color: #B9E3C6;
    border-radius: 20px;
    padding: 20px;

    box-shadow: 10px 10px 52px -16px rgba(0,0,0,0.75);

}

.portfolio-card img {
    float: right;
    border-radius: 20px;

    object-fit: cover;
    max-height: 20em;
}

.portfolio-card.special {
    background-color: #59C9A5;
}

.social-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid red;

    transition: 0.15s;
}

.social-link:hover {
    border-bottom: 4px solid red;
}

.material-btn {

    display: inline-block;

    padding: 10px;
    background: #D81E5B;
    border-radius: 5px;
    color: white;
    text-decoration: none;

    margin-left: 10px;
    margin-bottom: 20px;

    transition: 0.25s;
}

.material-btn:first-of-type {
    margin-left: 0;
}

.material-btn:hover {

    box-shadow: 10px 10px 52px -16px rgba(0,0,0,0.50);
    transform: translateY(-3px);
}

@media screen and (max-width: 950px) {

    .portfolio {
        max-height: fit-content;
    }

    .portfolio-card {
        width: 90%;
        overflow-x: scroll;
    }

    .portfolio-card img {
        display: none;
    }

    .material-btn {
        display: inline-block;
        padding: 5px;
    }

    .material-btn::after {
        content: "\A";
        white-space: pre;
    }

}