/* 

Fonts from Google Fonts:

font-family: 'DM Serif Display', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'DM Serif Text', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik Mono One', sans-serif;

*/

/* Base element styling */
body {
    margin-top: 20px;
    background-color: #E8D5B7;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
}

body {
    font-family: 'Open Sans', serif;
}

/* Class styling */

/* The showcase gallery class (flexbox container) */
.gallery-flexbox {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin:-10px;
}

.gallery-flexbox>* {
    flex: 1 1 160px;
    margin: 10px;
}

/* The showcase gallery item (flexbox item) */
.gallery-slide {
    text-align: center;
    background-color: #E6A972;
    border-radius: 10px;
    box-shadow: 0 0 50px gray;

    border: 20px solid #4D4250;

    padding: 2em;
    max-width: 20%;

    transition: 0.5s;
}

.gallery-slide:hover {
    background-color: #F6D169;
    transition: 0.5s;
}

/* Other resources for the showcase gallery */
.slide-img-sq {
    max-width: 50%;
}

.title-desc {
    color: rgb(255, 0, 0);
}

.title-link {
    text-decoration: none;
    color: rgb(28, 0, 184);
}

.title-link:hover {
    cursor: pointer;
    color: rgb(134, 59, 214);
}