
:root {

    --num-cells-per-row: 5;
    --table-cell-width: calc((93vw/var(--num-cells-per-row)) - 1px);

}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    font-size: 1.5em;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #ffff00;
}

a:hover {text-decoration: none;}

.popbar {
    position: sticky;
    display: block;
    z-index: 100;
    top: 0;
    width: 100vw;
    height: 5px;
    background: linear-gradient(to left, orange, red);
}

.currently-typing::after {
    content: "_";
    animation: blink 0.530s infinite linear;
    margin-left: -10px;
}

.finished-typing::after {
    content: "_";
    animation: rainbow-spin 3s infinite linear;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rainbow-spin {
    0% {
        color: red;
    }

    20% {
        color: orange;
    }

    60% {
        color: darkslateblue
    }

    80% {
        color: black;
    }

    100% {
        color: red;
    }
}

.page {
    
    margin: 0;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-self: center;

    z-index: 0;

}

.page .colsec {

    align-self: center;

    background-color: transparent;
    color: white;
    border: 5px solid yellow;
    font-family: 'consolas', monospace;
    height: 90vh;
    width: 93vw;

    display: flex;
    justify-content: space-between;

    align-items: center;

    z-index: 10;

    transition: 0.5s;

}

.page .colsec.table {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.page .colsec.table .cell {
    min-width: var(--table-cell-width); max-width: var(--table-cell-width);
    min-height: var(--table-cell-width); max-height: var(--table-cell-width);
    filter: brightness(1);

    align-self: flex-start;
    margin: 0;

    border: 1px solid black;
    border-top: 0;
    border-left: none;
}

.page .colsec.table .cell.dark {background-color: darkslategray; color: white;}
.page .colsec.table .cell.light {background-color: deepskyblue; color: white;}

.page .colsec.table .cell.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

.page .colsec.table .cell.title p {
    align-self: center;
    font-size: 2em;
    text-shadow: 2px 2px black;
}

.page .colsec.table .cell .description {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    transition: 0.5s;

    justify-content: center;
    align-items: center;
}

.page .colsec.table .cell .description p {
    display: block;
    z-index: 99;
    opacity: 0;
    padding: 10px;
    transition: 0.5s;

    text-shadow: 1px 1px black;
}

.page .colsec.table .cell .description:hover {background-color: rgba(0, 0, 63, 0.65);}

.page .colsec.table .cell .description:hover p {
    opacity: 1;
}


.page .colsec.table .cell .table-img {
    width: var(--table-cell-width);
    height: var(--table-cell-width);
}
.page .colsec:hover {background-color: rgba(71, 61, 139, 0.37);}
.page#pg2 .colsec:hover {background-color: rgba(0, 0, 0, 0.37);}

.page .colsec .text {

    padding: 20px;
    margin: 20px;
    border-left: 10px solid rgb(202, 202, 202);

    align-self: center;

}

@media only screen and (max-width: 600px) {

    :root {
        --num-cells-per-row: 2;
    }

    .page .colsec.table .cell .description p {
        padding: 2px;
        font-size: 0.5em;
    }

    .page .colsec.table .cell.title p {
        font-size: 1em;
    }

}
