/* 

Fonts from Google Fonts:

font-family: 'DM Serif Display', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'DM Serif Text', serif;
font-family: 'Raleway', sans-serif;

*/

/* Base element styling */
h1 {
    font-family: 'DM Serif Display', serif;
}