
body {
    margin: 0;
    padding: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.big-circle {
    border-radius: 50%;
    position: absolute;
    width: 500px;
    height: 500px;
    transition: 0.5s;
}

.big-circle:hover {
    filter: invert();
    transition: 0.5s;
}