body {
    background-color: black;

    font-size: 15px;
    color: yellow;
    font-family: monospace;
    margin-left: 10px;
    margin-top: 10px;

    overflow-x: hidden;
    transition: 10s;
}

#console_block {
    transition: 10s;
}

@keyframes opacity-fade {
    from {opacity: 1}
    to {opacity: 0}
}

.console-input {
    width: 80%;
    font-size: inherit;

    border: none;
    background: transparent;
    font-family: monospace;
    color: inherit;
}

#gh-link:hover {
    color: black;
    background: yellow;
    transition: 0.5s;
}

#gh-link {
    color: yellow;
    text-decoration: none;
    transition: 0.5s;
}

.glitch-text {
    mask-image: linear-gradient(to left, white, black);
}

.no-select {
    user-select: none;
    cursor: text;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 10s steps(50, end);
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0;}
    to { width: 100%;}
}

.ls-unaccessible, .ls-executable, .ls-system {
    padding-left: 3px;
    padding-right: 3px;
}

.ls-unaccessible {
    color: black;
    background: red;
}

.ls-executable {
    color: black;
    background: green;
}

.ls-system {
    color: blue;
}

.overlay-box {
    color: black;
    background-color: #e7a61a;
    border-radius: 10px;
    border: 2px solid black;

    align-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 30%;
    left: 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    box-shadow: 10px 10px 71px 3px rgba(0,0,0,0.75);
}

#restart-btn {
    text-decoration: none;
    color: white;
    background: rgb(129, 129, 235);
    padding: 10px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;

    overflow-x: hidden;
}

#restart-btn:hover {
    background: rgb(93, 93, 173); 
    border-radius: 20px;
    transition: 0.5s;
}