body {
    background-color: black;

    font-size: 15px;
    color: yellow;
    font-family: monospace;
    margin-left: 10px;
    margin-top: 10px;

    overflow-x: hidden;

    transition: 30s;
}

.console-input {
    width: 80%;
    font-size: inherit;

    border: none;
    background: transparent;
    font-family: monospace;
    color: inherit;
}

#gh-link:hover {
    color: black;
    background: yellow;
    transition: 0.5s;
}

#gh-link {
    color: yellow;
    text-decoration: none;
    transition: 0.5s;
}

.glitch-text {
    mask-image: linear-gradient(to left, white, black);
}

.no-select {
    user-select: none;
    cursor: text;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 10s steps(50, end);
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0;}
    to { width: 100%;}
}