<!DOCTYPE html>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

</style>

<div id="app">
    {{message}}
</div>

<div id="todolist">

    <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
    ></todo-item>

</div>

<div id="demo">
    <button v-on:click="show = !show">
      Toggle
    </button>
    <transition name="fade">
      <p v-if="show">{{tval}}</p>
    </transition>
  </div>

  

<script>

var app = new Vue({

    el: '#app',
    data: {
        message: "Hello!",
        message2: "bound title",
        show_hover: true,
    }

});

var i = 0;

Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</i>'
})

var app3 = new Vue({

    el: '#todolist',
    data: {
        groceryList: [
            {id: 0, text: "Eggs"},
            {id: 1, text: "Bacon"},
            {id: 2, text: "Cheese"},
            {id: 3, text: "Milk"}
        ]
    }

})

var anim = new Vue({
  el: '#demo',
  data: {
    show: true,
    tval: "hello"
  }
})

</script>